.git/
.idea/
dev/
images/
packages/

.dockerignore
.gitignore
*.log

container/lucit-ubdcc-mgmt/Dockerfile.lucit-ubdcc-mgmt
container/lucit-ubdcc-mgmt/*.log
container/lucit-ubdcc-mgmt/*.py.log
container/lucit-ubdcc-mgmt/lucit_ubdcc_mgmt
container/lucit-ubdcc-mgmt/lucit_ubdcc_shared_modules
