name: Create GitHub Release

on:
  workflow_dispatch:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: 0.1.3
        name: Release 0.1.3
        body: |
          Please read the [CHANGELOG](https://unicorn-depthcache-cluster-for-binance.docs.lucit.tech/changelog.html) for further information.
        draft: false
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}
